body {
  background: [#008000];
  font-family: Arial, Helvetica, sans-serif;
  }
    h1 {
    color: [#808080];
    text-align: center;
    }
  .assign {
  display: flex;
  padding: 10px;
  margin: 10px;
  background: [#FFFF00];
  }
.assign img {
width: 200px;
padding: 10px;
}
